src/main/mule/implementations/put-update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<flow name="put:\cases:application\xml:uhub-sapi-config">
		<ee:transform doc:name="Set correlationId And inputPayload" doc:id="d277df75-7584-4fef-bc26-1535befb35d2" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
				<ee:set-variable variableName="inputPayload" ><![CDATA[%dw 2.0
output application/java
---
payload.covidCase]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="fb7f912b-c02d-486c-8e7e-f6f39bfe328e" message='transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]' />
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="1c1b40d6-6f0e-415e-bb5f-def0206cc6f6" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0
output application/java
---
{
	case_id: vars.inputPayload.caseID,
	source: vars.inputPayload.source,
	case_type: vars.inputPayload.caseType,
	first_name: vars.inputPayload.firstName,
	last_name: vars.inputPayload.lastName,
	phone: vars.inputPayload.phone,
	email: vars.inputPayload.email,
	date_of_birth: vars.inputPayload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: vars.inputPayload.nationalID,
	national_id_type: vars.inputPayload.nationalIDType,
	street_address: vars.inputPayload.address.streetAddress,
	city: vars.inputPayload.address.city,
	state: upper(vars.inputPayload.address.state),
	postal: vars.inputPayload.address.postal,
	country: vars.inputPayload.address.country,
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="update-covid-case-subflow" doc:id="0eb6b884-5eea-4db2-97fc-2086612a0a83" name="update-covid-case-subflow" />
		<ee:transform doc:name="Set Success Response" doc:id="075f16a9-3d4e-4785-b3a6-7c46ddf53a53" xsi:schemaLocation="&#10;http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0 ) {
	caseID: vars.covidCasePayload.case_id
} else {}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="9ab6349a-f9f9-4cc3-9fa0-6d2306c0a1e5" message='transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: "Completed update covid case flow", payload: #[payload]' />
	
</flow>

</mule>
